cd frontend
npm install
npm run dev
npm install axios

cd backend (3.14 python)
pip install langchain-groq langchain-core python-dotenv
pip install fastapi uvicorn pydantic



to start the server
cd frontend
npm install
npm run dev

cd backend
uvicorn main:app --reload
